.navbarWrapper {
    background-color: rgba(0, 144, 170, 0.45);
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.navbarElements {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navbarElements ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.navbarElements ul li {
    list-style: none;
    display: inline;
    color: #fff;
    font-weight: 700;
}
.navbarElements ul li a {
    text-decoration: none;
}
.navbarElements ul li:first-child {
    margin-left: 0;
}
.navbarElements ul li:last-child {
    margin-right: 0;
}