.navbarWrapper {
    background-color: #0090b1;
    height: 50px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.navbarElements {
    width: 500px;
}
.navbarElements ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.navbarElements ul li {
    list-style: none;
    display: inline;
    color: #fff;
    font-weight: 700;
}
.navbarElements ul li:first-child {
    margin-left: 0;
}
.navbarElements ul li:last-child {
    margin-right: 0;
}